@import "./reset.css";

* {
	box-sizing: border-box;
	font-family: "Untitled Sans", UntitledSans, -apple-system, BlinkMacSystemFont,
		"Helvetica Neue", Arial, sans-serif;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
	height: 100%;
}

a,
button,
[type="button"] {
	cursor: pointer;
	outline: none;
}

.app {
	/* display: flex; */
	position: relative;
}

.header {
	width: 250px;
	height: 100vh;
	overflow: scroll;
	position: fixed;
	top: 0;
	left: 0;
}
