@import "./reset.css";

* {
	box-sizing: border-box;
	font-family: "Untitled Sans", UntitledSans, -apple-system, BlinkMacSystemFont,
		"Helvetica Neue", Arial, sans-serif;
}

*::selection {
	background-color: rgb(3, 136, 252);
	color: #fff;
}

html {
	scroll-behavior: smooth;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	display: block;
	height: 100%;
}

a,
button,
[type="button"] {
	cursor: pointer;
	outline: none;
}
